---
layout: default
title: Home
notitle: true
---
<div class="jumbotron">
  <p>
    The <b> Laboratory for Atmospheric Research (LAR)</b> modeling
    group at the <b>Washington State University </b> uses
    atmospheric chemistry models, from local-scale to global-scale, to
    study air quality, and interactions between air quality and climate change.<br><br>
    <a href="join.html">Join us!</a>
  </p>
</div>

<h2>News</h2>
<ul class="news list-unstyled">
{% for post in site.posts limit: site.front_page_news %}
    {% if post.shortnews %}
        <li class="shortnews">
            <span class="date">{{ post.date | date_to_long_string }}</span>
            {{ post.content }}
        </li>
    {% else %}
        <li class="bloglink">
            <span class="date">{{ post.date | date_to_long_string }}</span>
            <a href="{{ post.url }}">&raquo; {{ post.title }}</a>
        </li>
    {% endif %}
{% endfor %}
</ul>
{% assign numposts = site.posts | size %}
{% if numposts >= site.front_page_news %}
<p><a href="{{ site.base }}/blog/">Older posts&hellip;</a></p>
{% endif %}
