<table class="table">
<tbody>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2017</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Competitive Dynamics in Eco-evolutionary Genetically-Regulated Swarms.
			</span><br />
			<span class="authors">
				Kyle Harrington and Louise Magbunduku.
			</span><br />
			<span class="venuetype"></span><span class="venue">14th European Conference on Artificial Life</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2016</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Wolfgang Banzhaf and Lidia Yamamoto: Artificial Chemistries, MIT Press, 2015.
			</span><br />
			<span class="authors">
				Kyle IS Harrington.
			</span><br />
			<span class="venuetype"></span><span class="venue">Genetic Programming and Evolvable Machines 17(3)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Configurable NOR gate arrays from Belousov-Zhabotinsky micro-droplets.
			</span><br />
			<span class="authors">
				AL Wang, JM Gold, N Tompkins, M Heymann, KI Harrington, and S Fraden.
			</span><br />
			<span class="venuetype"></span><span class="venue">The European Physical Journal Special Topics 225(1)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Asymmetric division coordinates collective cell migration in angiogenesis.
			</span><br />
			<span class="authors">
				Guilherme Costa, Kyle I Harrington, Holly E Lovegrove, Donna J Page, Shilpa Chakravartula, Katie Bentley, and Shane P Herbert.
			</span><br />
			<span class="venuetype"></span><span class="venue">Nature Cell Biology 18(12)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				A circuit basis for morphogenesis.
			</span><br />
			<span class="authors">
				Kyle IS Harrington.
			</span><br />
			<span class="venuetype"></span><span class="venue">Theoretical Computer Science</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Maximizing Information from the Renal Biopsy: Computer-Generated Three-Dimensional Constructs.
			</span><br />
			<span class="authors">
				Beverly E Faulkner-Jones, Devin Rosen, Seymour Rosen, Kyle Harrington, and Charles Law.
			</span><br />
			<span class="venuetype"></span><span class="venue">Laboratory Investigation</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2015</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Genetically-regulated neuromodulation facilitates multi-task reinforcement learning.
			</span><br />
			<span class="authors">
				Sylvain Cussat-Blanc and Kyle Harrington.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the 2015 Annual Conference on Genetic and Evolutionary Computation</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2014</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Eco-evolutionary dynamics of complex social strategies in microbial communities.
			</span><br />
			<span class="authors">
				Kyle I Harrington and Alvaro Sanchez.
			</span><br />
			<span class="venuetype"></span><span class="venue">Communicative \& integrative biology 7(1)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Feedback Control of Evolving Swarms.
			</span><br />
			<span class="authors">
				Jacob Gold, Adam Wang, and K Harrington.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of Artificial Life XIV</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Coevolution in Hide and Seek: Camouflage and Vision.
			</span><br />
			<span class="authors">
				KJ Harrington, Jesse Freeman, and Jordan Pollack.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of Artificial Life XIV</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
</tbody>
</table>
