['bibble/bibble.py', 'bib/pubs.bib', 'bib/publications.tmpl']
<table class="table">
<tbody>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2016</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://www.atmos-chem-phys.net/16/8071/2016/">Global fine-mode aerosol radiative effect, as constrained by comprehensive observations</a>.
			</span><br />
			<span class="authors">
				C. E. Chung, J.-E. Chu, Y. Lee, T. Noije, H. Jeoung, K.-J. Ha, and M. Marks.
			</span><br />
			<span class="venuetype"></span><span class="venue">Atmos. Chem. Phys. 16(13)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2016</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://www.nature.com/nclimate/journal/v6/n5/full/nclimate2935.html">Climate and health impacts of US emissions reductions consistent with 2 degree C</a>.
			</span><br />
			<span class="authors">
				Drew T. Shindell, Yunha Lee, and Greg Faluvegi.
			</span><br />
			<span class="venuetype"></span><span class="venue">Nature Climate Change 6(5)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2016</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://www.atmos-chem-phys.net/16/5323/2016/">Potential impact of a US climate policy and air quality regulations on future air quality and climate change</a>.
			</span><br />
			<span class="authors">
				Y. Lee, D. T. Shindell, G. Faluvegi, and R. W. Pinder.
			</span><br />
			<span class="venuetype"></span><span class="venue">Atmos. Chem. Phys. 16(8)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2016</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://www.atmos-chem-phys.net/16/2765/2016/">On the characteristics of aerosol indirect effect based on dynamic regimes in global climate models</a>.
			</span><br />
			<span class="authors">
				S. Zhang, M. Wang, S. J. Ghan, A. Ding, H. Wang, K. Zhang, D. Neubauer, U. Lohmann, S. Ferrachat, T. Takeamura, A. Gettelman, H. Morrison, Y. Lee, D. T. Shindell, D. G. Partridge, P. Stier, Z. Kipling, and C. Fu.
			</span><br />
			<span class="venuetype"></span><span class="venue">Atmos. Chem. Phys. 16(5)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2016</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://www.atmos-chem-phys.net/16/3525/2016/">Evaluation of observed and modelled aerosol lifetimes using radioactive tracers of opportunity and an ensemble of 19 global models</a>.
			</span><br />
			<span class="authors">
				N. I. Kristiansen, A. Stohl, D. J. L. Olivie, B. Croft, O. A. Sovde, H. Klein, T. Christoudias, D. Kunkel, S. J. Leadbetter, Y. H. Lee, K. Zhang, K. Tsigaridis, T. Bergman, N. Evangeliou, H. Wang, P.-L. Ma, R. C. Easter, P. J. Rasch, X. Liu, G. Pitari, G. Di Genova, S. Y. Zhao, Y. Balkanski, S. E. Bauer, G. S. Faluvegi, H. Kokkola, R. V. Martin, J. R. Pierce, M. Schulz, D. Shindell, H. Tost, and H. Zhang.
			</span><br />
			<span class="venuetype"></span><span class="venue">Atmos. Chem. Phys. 16(5)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2015</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://www.atmos-chem-phys.net/15/8577/2015/">Uncertainties in global aerosols and climate effects due to biofuel emissions</a>.
			</span><br />
			<span class="authors">
				J. K. Kodros, C. E. Scott, S. C. Farina, Y. H. Lee, C. L'Orange, J. Volckens, and J. R. Pierce.
			</span><br />
			<span class="venuetype"></span><span class="venue">Atmos. Chem. Phys. 15(15)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2015</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://www.geosci-model-dev.net/8/631/2015/">Evaluation of the global aerosol microphysical ModelE2-TOMAS model against satellite and ground-based observations</a>.
			</span><br />
			<span class="authors">
				Y. H. Lee, P. J. Adams, and D. T. Shindell.
			</span><br />
			<span class="venuetype"></span><span class="venue">Geosci. Model Dev. 8(3)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2014</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://www.atmos-chem-phys.net/14/10845/2014/">The AeroCom evaluation and intercomparison of organic aerosol in global models</a>.
			</span><br />
			<span class="authors">
				K. Tsigaridis, N. Daskalakis, M. Kanakidou, P. J. Adams, P. Artaxo, R. Bahadur, Y. Balkanski, S. E. Bauer, N. Bellouin, A. Benedetti, T. Bergman, T. K. Berntsen, J. P. Beukes, H. Bian, K. S. Carslaw, M. Chin, G. Curci, T. Diehl, R. C. Easter, S. J. Ghan, S. L. Gong, A. Hodzic, C. R. Hoyle, T. Iversen, S. Jathar, J. L. Jimenez, J. W. Kaiser, A. Kirkevag, D. Koch, H. Kokkola, Y. H Lee, G. Lin, X. Liu, G. Luo, X. Ma, G. W. Mann, N. Mihalopoulos, J.-J. Morcrette, J.-F. Muller, G. Myhre, S. Myriokefalitakis, N. L. Ng, D. O'Donnell, J. E. Penner, L. Pozzoli, K. J. Pringle, L. M. Russell, M. Schulz, J. Sciare, O. Seland, D. T. Shindell, S. Sillman, R. B. Skeie, D. Spracklen, T. Stavrakou, S. D. Steenrod, T. Takemura, P. Tiitta, S. Tilmes, H. Tost, T. Noije, P. G. Zyl, K. Salzen, F. Yu, Z. Wang, Z. Wang, R. A. Zaveri, H. Zhang, K. Zhang, Q. Zhang, and X. Zhang.
			</span><br />
			<span class="venuetype"></span><span class="venue">Atmos. Chem. Phys. 14(19)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2014</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://www.atmos-chem-phys.net/14/4679/2014/">Intercomparison and evaluation of global aerosol microphysical properties among AeroCom models of a range of complexity</a>.
			</span><br />
			<span class="authors">
				G. W. Mann, K. S. Carslaw, C. L. Reddington, K. J. Pringle, M. Schulz, A. Asmi, D. V. Spracklen, D. A. Ridley, M. T. Woodhouse, L. A. Lee, K. Zhang, S. J. Ghan, R. C. Easter, X. Liu, P. Stier, Y. H. Lee, P. J. Adams, H. Tost, J. Lelieveld, S. E. Bauer, K. Tsigaridis, T. P. C. Noije, A. Strunk, E. Vignati, N. Bellouin, M. Dalvi, C. E. Johnson, T. Bergman, H. Kokkola, K. Salzen, F. Yu, G. Luo, A. Petzold, J. Heintzenberg, A. Clarke, J. A. Ogren, J. Gras, U. Baltensperger, U. Kaminski, S. G. Jennings, C. D. O'Dowd, R. M. Harrison, D. C. S. Beddows, M. Kulmala, Y. Viisanen, V. Ulevicius, N. Mihalopoulos, V. Zdimal, M. Fiebig, H.-C. Hansson, E. Swietlicki, and J. S. Henzing.
			</span><br />
			<span class="venuetype"></span><span class="venue">Atmos. Chem. Phys. 14(9)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2013</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://www.atmos-chem-phys.net/13/7997/2013/">Multi-model mean nitrogen and sulfur deposition from the Atmospheric Chemistry and Climate Model Intercomparison Project (ACCMIP): evaluation of historical and projected future changes</a>.
			</span><br />
			<span class="authors">
				J.-F. Lamarque, F. Dentener, J. McConnell, C.-U. Ro, M. Shaw, R. Vet, D. Bergmann, P. Cameron-Smith, S. Dalsoren, R. Doherty, G. Faluvegi, S. J. Ghan, B. Josse, Y. H. Lee, I. A. MacKenzie, D. Plummer, D. T. Shindell, R. B. Skeie, D. S. Stevenson, S. Strode, G. Zeng, M. Curran, D. Dahl-Jensen, S. Das, D. Fritzsche, and M. Nolan.
			</span><br />
			<span class="venuetype"></span><span class="venue">Atmos. Chem. Phys. 13(16)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2013</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://www.geosci-model-dev.net/6/1221/2013/ &lt;Go to ISI&gt;://CCC:000323981100019">Representation of nucleation mode microphysics in a global aerosol model with sectional microphysics</a>.
			</span><br />
			<span class="authors">
				Y. H. Lee, J. R. Pierce, and P. J. Adams.
			</span><br />
			<span class="venuetype"></span><span class="venue">Geoscientific Model Development 6(4)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2013</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://www.atmos-chem-phys.net/13/5277/2013/">Preindustrial to present-day changes in tropospheric hydroxyl radical and methane lifetime from the Atmospheric Chemistry and Climate Model Intercomparison Project (ACCMIP)</a>.
			</span><br />
			<span class="authors">
				V. Naik, A. Voulgarakis, A. M. Fiore, L. W. Horowitz, J.-F. Lamarque, M. Lin, M. J. Prather, P. J. Young, D. Bergmann, P. J. Cameron-Smith, I. Cionni, W. J. Collins, S. B. Dalsoren, R. Doherty, V. Eyring, G. Faluvegi, G. A. Folberth, B. Josse, Y. H. Lee, I. A. MacKenzie, T. Nagashima, T. P. C. Noije, D. A. Plummer, M. Righi, S. T. Rumbold, R. Skeie, D. T. Shindell, D. S. Stevenson, S. Strode, K. Sudo, S. Szopa, and G. Zeng.
			</span><br />
			<span class="venuetype"></span><span class="venue">Atmos. Chem. Phys. 13(10)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2013</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://www.atmos-chem-phys.net/13/4057/2013/">Evaluation of ACCMIP outgoing longwave radiation from tropospheric ozone using TES satellite observations</a>.
			</span><br />
			<span class="authors">
				K. W. Bowman, D. T. Shindell, H. M. Worden, J.F. Lamarque, P. J. Young, D. S. Stevenson, Z. Qu, M. Torre, D. Bergmann, P. J. Cameron-Smith, W. J. Collins, R. Doherty, S. B. Dalsoren, G. Faluvegi, G. Folberth, L. W. Horowitz, B. M. Josse, Y. H. Lee, I. A. MacKenzie, G. Myhre, T. Nagashima, V. Naik, D. A. Plummer, S. T. Rumbold, R. B. Skeie, S. A. Strode, K. Sudo, S. Szopa, A. Voulgarakis, G. Zeng, S. S. Kulawik, A. M. Aghedo, and J. R. Worden.
			</span><br />
			<span class="venuetype"></span><span class="venue">Atmos. Chem. Phys. 13(8)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2013</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://www.atmos-chem-phys.net/13/2939/2013/ &lt;Go to ISI&gt;://WOS:000316961000002">Radiative forcing in the ACCMIP historical and future climate simulations</a>.
			</span><br />
			<span class="authors">
				D. T. Shindell, J.-F. F Lamarque, M. Schulz, M. Flanner, C. Jiao, M. Chin, P. J. Young, Y. H. Lee, L. Rotstayn, N. Mahowald, G. Milly, G. Faluvegi, Y. Balkanski, W. J. Collins, a. J. Conley, S. Dalsoren, R. Easter, S. Ghan, L. Horowitz, X. Liu, G. Myhre, T. Nagashima, V. Naik, S. T. Rumbold, R. Skeie, K. Sudo, S. Szopa, T. Takemura, a. Voulgarakis, J.-H. H Yoon, and F. Lo.
			</span><br />
			<span class="venuetype"></span><span class="venue">Atmospheric Chemistry and Physics 13(6)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2013</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://www.atmos-chem-phys.net/13/2563/2013/">Analysis of present day and future OH and methane lifetime in the ACCMIP simulations</a>.
			</span><br />
			<span class="authors">
				A. Voulgarakis, V. Naik, J.-F. Lamarque, D. T. Shindell, P. J. Young, M. J. Prather, O. Wild, R. D. Field, D. Bergmann, P. Cameron-Smith, I. Cionni, W. J. Collins, S. B. Dalsoren, R. M. Doherty, V. Eyring, G. Faluvegi, G. A. Folberth, L. W. Horowitz, B. Josse, I. A. MacKenzie, T. Nagashima, D. A. Plummer, M. Righi, S. T. Rumbold, D. S. Stevenson, S. A. Strode, K. Sudo, S. Szopa, and G. Zeng.
			</span><br />
			<span class="venuetype"></span><span class="venue">Atmos. Chem. Phys. 13(5)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2013</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://www.atmos-chem-phys.net/13/3063/2013/">Tropospheric ozone changes, radiative forcing and attribution to emissions in the Atmospheric Chemistry and Climate Model Intercomparison Project (ACCMIP)</a>.
			</span><br />
			<span class="authors">
				D. S. Stevenson, P. J. Young, V. Naik, J.-F. Lamarque, D. T. Shindell, R. B. Skeie, S. B. Dalsoren, G. Myhre, T. K. Berntsen, G. A. Folberth, S. T. Rumbold, W. J. Collins, I. A. MacKenzie, R. M. Doherty, G. Zeng, T. P. C. Noije, A. Strunk, D. Bergmann, P. Cameron-Smith, D. A. Plummer, S. A. Strode, L. Horowitz, Y. H. Lee, S. Szopa, K. Sudo, T. Nagashima, B. Josse, I. Cionni, M. Righi, V. Eyring, A. Conley, K. W. Bowman, O. Wild, and A. Archibald.
			</span><br />
			<span class="venuetype"></span><span class="venue">Atmos. Chem. Phys. 13(6)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2013</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://www.atmos-chem-phys.net/13/2063/2013/">Pre-industrial to end 21st century projections of tropospheric ozone from the Atmospheric Chemistry and Climate Model Intercomparison Project (ACCMIP)</a>.
			</span><br />
			<span class="authors">
				P. J. Young, A. T. Archibald, K. W. Bowman, J.-F. Lamarque, V. Naik, D. S. Stevenson, S. Tilmes, A. Voulgarakis, O. Wild, D. Bergmann, P. Cameron-Smith, I. Cionni, W. J. Collins, S. B. Dalsoren, R. M. Doherty, V. Eyring, G. Faluvegi, L. W. Horowitz, B. Josse, Y. H. Lee, I. A. MacKenzie, T. Nagashima, D. A. Plummer, M. Righi, S. T. Rumbold, R. B. Skeie, D. T. Shindell, S. A. Strode, K. Sudo, S. Szopa, and G. Zeng.
			</span><br />
			<span class="venuetype"></span><span class="venue">Atmos. Chem. Phys. 13(4)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2013</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://www.geosci-model-dev.net/6/179/2013/">The Atmospheric Chemistry and Climate Model Intercomparison Project (ACCMIP): overview and description of models, simulations and climate diagnostics</a>.
			</span><br />
			<span class="authors">
				J.-F. Lamarque, D. T. Shindell, B. Josse, P. J. Young, I. Cionni, V. Eyring, D. Bergmann, P. Cameron-Smith, W. J. Collins, R. Doherty, S. Dalsoren, G. Faluvegi, G. Folberth, S. J. Ghan, L. W. Horowitz, Y. H. Lee, I. A. MacKenzie, T. Nagashima, V. Naik, D. Plummer, M. Righi, S. T. Rumbold, M. Schulz, R. B. Skeie, D. S. Stevenson, S. Strode, K. Sudo, S. Szopa, A. Voulgarakis, and G. Zeng.
			</span><br />
			<span class="venuetype"></span><span class="venue">Geosci. Model Dev. 6(1)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2013</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="&lt;Go to ISI&gt;://WOS:000316960500019">Evaluation of preindustrial to present-day black carbon and its albedo forcing from Atmospheric Chemistry and Climate Model Intercomparison Project (ACCMIP)</a>.
			</span><br />
			<span class="authors">
				Y H Lee, J F Lamarque, M G Flanner, C Jiao, D T Shindell, T Berntsen, M M Bisiaux, J Cao, W J Collins, M Curran, R Edwards, G Faluvegi, S Ghan, L W Horowitz, J R McConnell, J Ming, G Myhre, T Nagashima, V Naik, S T Rumbold, R B Skeie, K Sudo, T Takemura, F Thevenon, B Xu, and J H Yoon.
			</span><br />
			<span class="venuetype"></span><span class="venue">Atmospheric Chemistry and Physics 13(5)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2012</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://www.tandfonline.com/doi/abs/10.1080/02786826.2011.643259 &lt;Go to ISI&gt;://WOS:000301773000008">A Fast and Efficient Version of the TwO-Moment Aerosol Sectional (TOMAS) Global Aerosol Microphysics Model</a>.
			</span><br />
			<span class="authors">
				Y. H. Lee and P. J. Adams.
			</span><br />
			<span class="venuetype"></span><span class="venue">Aerosol Science and Technology 46(6)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2010</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://doi.wiley.com/10.1029/2010GL042886">Will black carbon mitigation dampen aerosol indirect forcing?</a>.
			</span><br />
			<span class="authors">
				W.-T. Chen, Y. H. Lee, P. J. Adams, A. Nenes, and J. H. Seinfeld.
			</span><br />
			<span class="venuetype"></span><span class="venue">Geophysical Research Letters 37(9)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2010</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="&lt;Go to ISI&gt;://000275505500004">Evaluation of aerosol distributions in the GISS-TOMAS global aerosol microphysics model with remote sensing observations</a>.
			</span><br />
			<span class="authors">
				Y. H. Lee and P. J. Adams.
			</span><br />
			<span class="venuetype"></span><span class="venue">Atmospheric Chemistry and Physics 10(5)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2009</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="&lt;Go to ISI&gt;://000265100600011">Development of a global model of mineral dust aerosol microphysics</a>.
			</span><br />
			<span class="authors">
				Y H Lee, K Chen, and P J Adams.
			</span><br />
			<span class="venuetype"></span><span class="venue">Atmospheric Chemistry and Physics 9(7)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2006</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://cat.inist.fr/?aModele=afficheN&amp;cpsidt=18337386">Inactivation of airborne E. coli and B. subtilis bioaerosols utilizing thermal energy</a>.
			</span><br />
			<span class="authors">
				Yunha Lee and Byung Uk Lee.
			</span><br />
			<span class="venuetype"></span><span class="venue">Journal of microbiology and biotechnology 16(11)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
</tbody>
</table>
